@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 600px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 572px;
    top: 488px;
    width: 300px;
}

iframe#filme {
    display: block;
    position: relative;
    left: 85px;
    top: 35px;
    width: 450px;
}